      body {background-color: #E5E5E5}
      svg {
        animation-name: spin;
        animation-duration: 7000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: 400px 315px;
      }
    
    
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        16.66% {
            transform: rotate(-120deg);    
          }
        33.32% {
            transform: rotate(-120deg);    
          }  
        49.98% {
          transform: rotate(-240deg);    
        }  
        66.64% {
            transform: rotate(-240deg);    
          } 
        83.3% {
            transform: rotate(-360deg);    
          } 
        100% {
          transform: rotate(-360deg);
        }
      }